<footer class="footer has-background-dark has-text-white">
  <div class="container boxes">
    <div class="menu">
      <p>
        {{ site.title | escape | replace: 'Karakun','<span class="my-karakun">Karakun</span>' }}
      </p>
      <ul class="menu-list">
          {% if page.title == my_page.title %}
          <li><a class="navbar-item is-active" href="{{ "/" | relative_url }}">Home</a></li>
        {% else %}
          <li><a class="navbar-item" href="{{ "/" | relative_url }}">Home</a></li>
        {% endif %}

        {% assign sortedPaths = site.pages | sort: 'order'  %}
        {% for my_page in sortedPaths %}
          {%- if my_page.hidden != true and my_page.nav.bottom != false -%}
            {%- if my_page.title and my_page.url != "/" -%}
              {% if page.title == my_page.title %}
                <li><a class="navbar-item is-active" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {% else %}
                <li><a class="navbar-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {% endif %}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="contact">
        {%- include contact.html -%}
    </div>
    <div class="right-clm">
      <div class="social">
          {%- include social.html -%}
      </div>
      <div class="newsletter">
        <a href="/subscribe/"><img src="/assets/images/karakun_news_trans_280.png"></a>
      </div>
    </div>
  </div>
</footer>
<div class="has-background-dark has-text-white copyright">
  Copyright © 2018-{{ site.time | date: '%Y' }} <span class="my-karakun">Karakun</span> AG
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>
