<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $el.attributes.getNamedItem("aria-expanded").value = "" + ($el.attributes.getNamedItem("aria-expanded").value!=="true")
      $target.classList.toggle('is-active');

    });
  });
}

});

    window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
        element: "#search",
        excerptLength: 15,
        showSubResults: false,
        showEmptyFilters: false,
        openFilters: ['category'],
        showImages: false, // enable to show pictures
        translations: {
            placeholder: "Search in DevHub",
            clear_search: "X"
        }
    });
});

</script>
