$karakun-main-color: #69C86C;
$karakun-dark-green: #3DA05E;
$karakun-main-dark-background: #0A1C24; // header bg color
$karakun-border-radius: 0.5rem;

$dark: #0A1C24; // footer bg color
$fa-font-path: 'fonts/';

@import "bulma/utilities/initial-variables";

// Overwrite Bulma default settings
$primary: $karakun-dark-green; // titles on overview tiles
$link: $grey-dark;
$link-hover: $grey-dark;
$navbar-background-color: $karakun-main-dark-background;
$navbar-item-active-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-color: $white;