---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

// Bulma.io CSS Framework
@import 'bulma';

// Font-Awesome
@import "font-awesome/fontawesome";

// Layout based stuff
@import "talks";
@import "books";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-wrapper {
    flex: 1;
}

nav + .page-wrapper {
    margin-top: 2em;
}

footer {
    border-top: 1px solid $grey-lighter;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

h5 {
    font-size: $size-5;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin-bottom: 0.75em;
}

p {
    text-align: justify;
}

.page-title {
    text-transform: uppercase;
    font-weight: bold;
}

.social-media-list .svg-icon {
    width: 1em;
    height: 1em;
}

.author {
    margin-top: 0.5em;
}