---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'karakun-variables';

// Bulma.io CSS Framework
@import 'bulma';

// Font-Awesome
@import "font-awesome/fontawesome";

// Layout based stuff
@import "talks";
@import "books";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
    flex: 1;
}

.navbar-brand {
    align-items: center;
}

nav + .page-wrapper {
    margin-top: 2em;
}

footer {
    border-top: 1px solid $grey-lighter;
    margin-top: 2em;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

h5 {
    font-size: $size-5;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin-bottom: 0.5em;
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
}

h5 {
    font-weight: 600;
}

p {
    text-align: justify;
}

.page-title {
    font-size: 1.5em;
    color: $white;
}

.page-title > span {
    padding-right: 0.3em;
}

.social-media-list .svg-icon {
    width: 1em;
    height: 1em;
}

.author {
    margin-top: $size-7;
}

.racoon-logo {
    height: $size-2;
}

.page-image {
    height: 24.5em;
    margin-bottom: 2em;
    background-size: cover;
    background-image: url('/assets/images/default.jpg');
    display: flex;
    align-items: stretch;
}

.page-image>div {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    min-height: 5.5rem;
}

.my-karakun {
    color: $karakun-main-color;
    font-weight: bold;
}

.header-text {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-bottom: 1em;
    font-size: $size-2;
    font-weight: lighter;
    font-family: 'Encode Sans', sans-serif;
    color: $white;
}

.header-text > div {
    max-width: 9.5em;
    text-align: right;
    line-height: 1.2em;
    font-size: 1.2em;
}

.column {
    padding: 0.75rem 1.25rem;
}

img.featured-image {
    float: left;
    margin-right: 1em;
    max-width: 175px;
    border-radius: 6%;
    margin-top: 0.4em;
    border-width: 0.1em;
    border-color: $black;
    border-style: solid;
    padding: 0.2em;
    filter: grayscale(1);
}

article.talk:hover p img.featured-image,
article.book:hover p img.featured-image {
    filter: grayscale(0);
}

.blink-cursor {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}