---
layout: article
---
<h2>About us</h2>
<p>This is the Karakun Developer Hub, brought to you by <a href="https://www.karakun.com" target="_blank">Karakun AG</a>.</p>

<h3>The team</h3>
<p>This page is provided by the developers at Karakun. In detail the following people have provided content to the page:</p>
{% assign people = site.people %}
  <ul>
    {% for person in people %}
    {% if person.alumni != true %}
      <li>
        <a href="{{ person.url }}">{{ person.firstName }} {{ person.lastName }}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <h4>Alumni</h4>
  <p>Former members of Karakun and the Developer Hub team:</p>
  <ul>
    {% for person in people %}
    {% if person.alumni == true %}
      <li>
        {{ person.firstName }} {{ person.lastName }}
      </li>
    {% endif %}
    {% endfor %}
  </ul>


<h3>Contact details</h3>
<blockquote>
    <p>Karakun AG<br>
    Elisabethenanlage 25<br>
    CH-4051 Basel</p>

    <p>+41 61 551 36 00<br>
    <a href="mailto:info@karakun.com">info@karakun.com</a><br>
    <a href="https://www.karakun.com">karakun.com</a></p>
</blockquote>
find more contact information and locations at <br /> <a href='https://karakun.com/en/about-us/#locations'>karakun.com/en/about-us</a>


<h3>Organisations and foundations</h3>
<p>We are part of several organisations to work on solid software and standards.</p>
<div class="foundations-wrapper">
  <a href="https://www.eclipse.org/" aria-label="Eclipse Foundation"><img class="foundations-logo" src="/assets/images/organisations/eclipse-foundation.png" alt=""></a>
	<p>The <b>Eclipse Foundation</b> provides a global community of individuals and organizations with a mature, scalable, and business-friendly environment for open source software collaboration and innovation. The Foundation is home to over 350 open source projects, including runtimes, tools, and frameworks for a wide range of technology domains such as the Internet of Things, automotive, geospatial, systems engineering, and many others.</p>
</div>
  <div class="foundations-wrapper">
      <a href="https://www.asam.net" aria-label="ASAM"><img class="foundations-logo" src="/assets/images/organisations/asam_logo.png" alt=""></a>
	  <p><b>ASAM</b> is a standardization organization where experts from OEMs, Tier-1s, tool vendors, engineering service providers, and research institutes meet to commonly standardize development and test systems for the automotive industry.  </p>
    </div>
<div class="foundations-wrapper">
    <a href="https://www.openmdm.org/" aria-label="Open MDM"><img class="foundations-logo" src="/assets/images/organisations/openmdm_1.png" alt=""></a>
	<p>The <b>openMDM® Working Group</b> wants to foster and support an open and innovative eco-system providing tools and systems, qualification kits and adapters for standardized and vendor independent management of measurement data in accordance with the ASAM ODS standard. </p>
  </div>
  <div class="foundations-wrapper">
      <a href="https://swissmadesoftware.org/" aria-label="Swiss Made Software"><img class="foundations-logo" src="/assets/images/organisations/SwissMadeSoftware.png" alt=""></a>
      <p>The <b>swiss made software</b> label is dedicated to promoting the Swiss software industry, both at home and abroad. It combines Swiss values such as quality, reliability and precision – especially in software development. </p>
    </div>
  <div class="foundations-wrapper">
      <a href="http://www.swissict.ch" aria-label="Swiss ICT"><img class="foundations-logo" src="/assets/images/organisations/swissICT.png" alt=""></a>
	  <p>The association <b>swissICT</b> connects ICT solution provider, user and professionals in Switzerland. swissICT fosters the evolution of the market and professionals with own projects and strategic partnerships. </p>
    </div>




<h3>Photos and Images</h3><br>

<h4>Logo-Design</h4>
<p>The general layout and design has been done by Uwe Neitzel who is not only an awesome designer but also paints all this cool and cute images of Duke and other IT mascots that we use on the page and in our presentations. If you want your own cool pictures just <a href="mailto:neitzel@phantoon.de">ping Uwe by mail</a>.</p><br>

<h4>Images</h4>
<p>Credits for some images go to several people that provides stock photos for free on platforms like <a href="https://unsplash.com" target="_blank">Unsplash</a></p>
<p>In detail:</p>
<ul>
  {% for image in site.data.images %}
    <li><a href="{{ image.link }}" target="_blank"><b>{{ image.name }}</b></a> by {{ image.author }}</li>
  {% endfor %}
</ul>
