---
layout: page
---
<h2>Overview of books that were written by members of Karakun</h2>
{% for book in site.data.books %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        <div class="columns">
    {% endif %}
        <article class="book column is-half">
            {% assign author = site.people | where:'name', book.author | first %}
            <h3 class="has-text-primary">{{ book.name }}</h3>
            <p>{{ book.description }}</p>
            <p>Author: <a href="{{ author.url }}">{{ author.firstName }} {{ author.lastName }}</a></p>
            <span><a href="{{ book.link }}" target="_blank">more infos</a></span>
        </article>
        {% if loopindex == 0 %}
        </div>
    {% endif %}
{% endfor %}
