---
layout: article
---

{% assign categories_list = site.categories %}
<div class="field is-grouped is-grouped-multiline">
{% for category in categories_list %}
  <div class="control">
    <div class="tags has-addons">
      <a href="#{{ category[0] | downcase }}" class="tag is-medium is-primary">{{ category[0] | capitalize }}</a>
      <a href="#{{ category[0] | downcase }}" class="tag is-medium">{{ category[1].size }}</a>
    </div>
  </div>
{% endfor %}
</div>

{% for category in site.categories %}
  <h3 id="{{ category[0] | downcase }}">{{ category[0] | capitalize }}</h3>
  <p>The following list contains all articles that are tagged with <span class="tag is-medium">{{ category[0] | capitalize }}</span></p>
  <ul>
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
