---
layout: page
---
{% assign size = site.posts | size %}
{% for post in site.posts %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        <div class="columns">
    {% endif %}
        {% if forloop.index == size and loopindex == 1 %}
        <article class="talk column content">
        {% else %}
        <article class="talk column is-half content">
        {% endif %}
            {% assign author = site.people | where:'name', post.author | first %}
            <h3 class="has-text-primary">{{ post.title }}</h3>
            <p>{%- if post.featuredImage -%}<img class="featured-image" src="/assets/featuredImages/{{ post.featuredImage }}.png">{% endif %}{{ post.excerpt }}</p>
            <div class="author"><a>more...</a></div>
        </article>
    {% if loopindex == 0 %}
        </div>
    {% endif %}
{% endfor %}