---
layout: page
---
{% assign size = site.posts | size %}
{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="columns">
  {% endif %}
      <article class="talk column content {% unless forloop.index == size and loopindex == 1 %} is-half {% endunless %}">
        {% assign author = site.people | where:'name', post.author | first %}
        <h3 class="has-text-primary"><a href="{{ post.url}}">{{ post.title }}</a></h3>
        <p>
          {%- if post.featuredImage -%}
            <a href="{{ post.url}}"><img class="featured-image" alt="featured image" src="/assets/featuredImages/{{ post.featuredImage }}.png"></a>
          {% endif %}
          <a class="excerpt" href="{{ post.url}}">{{ post.excerpt | newline_to_br }}</a>
        </p>
      </article>
  {% if loopindex == 0 or forloop.index == size %}
    </div>
  {% endif %}
{% endfor %}
