---
layout: article
---

{%- if page.alumni == true -%}
  <p>This page relates to a former member of Karakun</p>
{%- else -%}
  {% assign talks = site.data.talks | where: "author", page.name %}
  {% assign books = site.data.books | where_exp:"book", "book.authors contains page.name" %}
  <p>{{ page.description }}</p>

  <h3>Connect with {{ page.firstName }}</h3>
  <ul>
      {% if page.mastodon %}
      <li><a href="{{ page.mastodon }}" target="_blank"><i class="fab fa-mastodon metainfo-icon"></i> {{ page.firstName }} on Fediverse/Mastodon</a></li>
      {% endif %}
      {% if page.twitter %}
      <li><a href="https://www.twitter.com/{{ page.twitter }}" target="_blank"><i class="fab fa-twitter metainfo-icon"></i> {{ page.firstName }} on Twitter</a></li>
      {% endif %}
      {% if page.github %}
      <li><a href="https://www.github.com/{{ page.github }}" target="_blank"><i class="fab fa-github metainfo-icon"></i> {{ page.firstName }} on GitHub</a></li>
      {% endif %}
      {% if page.linkedin %}
      <li><a href="https://www.linkedin.com/in/{{ page.linkedin }}/" target="_blank"><i class="fab fa-linkedin metainfo-icon"></i> {{ page.firstName }} on LinkedIn</a></li>
      {% endif %}
      {% if page.mail %}
      <li><a href="mailto:{{ page.mail }}"><i class="fas fa-envelope metainfo-icon"></i> Write {{ page.firstName }} an email</a></li>
      {% endif %}
  </ul>

  {% if talks.size > 0 %}
    <h3>Talks</h3>
    <ul>
      {% for talk in talks %}
        <li>{{ talk.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if books.size > 0 %}
    <h3>Books</h3>
    <ul>
      {% for book in books %}
        <li>{{ book.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endif -%}
