---
layout: page
---
<section>
  <div class="container">
    <article class="post h-entry columns" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="column is-two-thirds-desktop is-three-fifths-tablet is-three-quarters">
        <div class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
              <!-- count valid authors -->
              {% assign lastAuthor = 0 %}
              {% for i in page.authors %}
                {% assign ii = site.people | where:'name', a | first %}
                {% if ii %}
                    {% assign lastAuthor = lastAuthor | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% assign secondLastAuthor = lastAuthor | minus: 1 %}
              <!-- list valid authors -->
              {% assign counter = 0 %}
              {% for authorName in page.authors %}
                {% assign author = site.people | where:'name', authorName | first %}
                {% if author %}
                    {% assign counter = counter | plus: 1 %}
                    {% if counter == 1 %}
                        by
                    {% else %}
                        {% if counter == lastAuthor %}and{% endif %}
                    {% endif %}
                    {% if author.alumni == true %}
                        {{ author.firstName }} {{ author.lastName }}
                    {% else %}
                        <a href="{{ author.url }}">{{ author.firstName }} {{ author.lastName }} </a>
                    {% endif %}
                    {% if counter < secondLastAuthor %}
                        ,
                    {% endif %}
                {% endif %}
              {% endfor %}
              on
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
              {% include reading-time.html content=content prefix=" · " %}
        </div>

        <div class="post-content e-content post content" itemprop="articleBody">
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </div>
      <div class="column overview">
        {%- if author -%}
        <div class="post-author info">
          <h4>Author(s)</h4>
          {% for authorName in page.authors %}
            {% assign author = site.people | where:'name', authorName | first %}
            <h5>{{ author.firstName }} {{ author.lastName }}</h5>
            {% if author %}
                {%- if author.avatar and author.alumni != true -%}
                    <p><img src="/assets/avatars/{{ author.avatar }}.png" alt="avatar"/>{{ author.description }}</p>
                {% else %}
                    <p><img src="/assets/avatars/unknown.png" alt="avatar"/>{{ author.description }}</p>
                {% endif %}
                {%- if author.alumni != true %}
                    <div class="information"><a class="button is-primary" href="{{ author.url }}">more...</a></div><br />
                {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        {%- endif -%}
        {%- if page.categories -%}
        <div class="post-tags info">
          <div class="field is-grouped is-grouped-multiline">
            {% for category in site.categories %}
              {% if page.categories contains category[0] %}
                <div class="control">
                  <div class="tags has-addons">
                    <a href="/categories#{{ category[0] | downcase }}" class="tag is-medium is-primary">{{ category[0] }}</a>
                    <span class="tag is-medium">{{ category[1].size }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {%- endif -%}
      </div>
    </article>
  </div>
</section>
