---
layout: default
---
{% assign speaker = site.people | where:'name', page.speakers | first %}
<section>
  <div class="container">
    <article class="post h-entry columns" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="column is-two-thirds-desktop is-three-fifths-tablet is-three-quarters">
        <div class="post-header">
          <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
          <p class="post-meta">
            {%- if speaker -%}
            by <a href="{{ speaker.url }}">{{ speaker.firstName }} {{ speaker.lastName }}</a>
            {%- endif -%}
            {%- if page.lectures -%}
              {% assign lecturesArray = "" | split: "/" %}
              {%- for lecture in page.lectures -%}
                {%- if forloop.index < 4 -%}
                  {% assign lecturesArray = lecturesArray | push: lecture %}
                {%- endif -%}
              {%- endfor -%}
              &nbsp;at&nbsp;
              {{ lecturesArray | join: ', ' }} {% if page.lectures.size > 4 %} and <span title="{{ page.lectures | join: ', ' }}" alt="{{ page.lectures | join: ', ' }}">others</span> {% endif %}
            {%- endif -%}
          </p>
        </div>

        <div class="links content">
          {%- if page.slides-link -%}
          <div>
            <div class="metainfo-icon-div"><i class="fab fa-slideshare metainfo-icon"></i></div>
            <div><a href="{{ page.slides-link }}">Download slides</a></div>
          </div>
          {% endif %}
          {%- if page.video-link -%}
          <div>
            <div class="metainfo-icon-div"><i class="fab fa-youtube metainfo-icon"></i></div>
            <div><a href="{{ page.video-link }}">Watch talk online</a></div>
          </div>
          {% endif %}
          {%- if page.github-link -%}
          <div>
            <div class="metainfo-icon-div"><i class="fab fa-github metainfo-icon"></i></div>
            <div><a href="{{ page.github-link }}">Resources on GitHub</a></div>
          </div>
          {% endif %}
        </div>

        <div class="post-content e-content post content" itemprop="articleBody">
          {{ content }}
        </div>

        <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      </div>
      <div class="column overview">
        {%- if speaker -%}
        <div class="post-author info">
          <h5>Speaker</h5>
          {%- if speaker.avatar -%}
            <p><img src="/assets/avatars/{{ speaker.avatar }}.png" alt="avatar"/>{{ speaker.description }}</p>
          {% else %}
            <p><img src="/assets/avatars/unknown.png" alt="avatar"/>{{ speaker.description }}</p>
          {% endif %}
          <div class="information"><a class="button is-primary" href="{{ speaker.url }}">more...</a></div>
        </div>
        {%- endif -%}
        {%- if page.categories -%}
        <div class="post-tags info">
          <div class="field is-grouped is-grouped-multiline">
            {% for category in site.categories %}
              {% if page.categories contains category[0] %}
                <div class="control">
                  <div class="tags has-addons">
                    <a href="/categories#{{ category[0] | downcase }}" class="tag is-medium is-primary">{{ category[0] }}</a>
                    <span class="tag is-medium">{{ category[1].size }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {%- endif -%}
      </div>
    </article>
  </div>
</section>
