---
layout: page
---
{% assign size = site.data.talks | size %}
{% for talk in site.data.talks %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="columns">
  {% endif %}
      {% if forloop.index == size and loopindex == 1 %}
        <article class="talk column content">
      {% else %}
        <article class="talk column is-half content">
      {% endif %}
          {% assign author = site.people | where:'name', talk.author | first %}
          <h3 class="has-text-primary">{{ talk.name }}</h3>
          <div class="post-meta">
            <h5>{{ talk.lectures[0].conference }} {{ talk.lectures[0].year }}</h5>
            {%- if author -%}
            by <a href="{{ author.url }}">{{ author.firstName }} {{ author.lastName }}</a>
          </div>
          {% endif %}
          <p>
            {%- if talk.featuredImage -%}
              <img class="featured-image" src="/assets/featuredImages/{{ talk.featuredImage }}.png">
            {% endif %}
            {{ talk.summary }}
          </p>
          <div class="links">
            <div>
              <div><i class="fas fa-map-marker-alt"></i></div>
              <div>Berlin</div>
            </div>
            <div>
              <div><i class="fab fa-slideshare"></i></div>
              <div>Slideshare/Slidedeck</div>
            </div>
            <div>
              <div><i class="fab fa-youtube"></i></div>
              <div><a href="https://www.youtube.com">youtube</a></div>
            </div>
          </div>
        </article>
  {% if loopindex == 0 or forloop.index == size %}
    </div>
  {% endif %}
{% endfor %}
